section.banner{
    background-image: url('../img/header.png');
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: 100% 800px;
    color: var(--white);
}

section.banner div.gradient{
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.25),rgba(255, 166, 0, 0.25));
}
section.banner div article{
    width: 100%;
    height: 100%;
}
h2{
    text-align: center;
}
h1{
    text-shadow: 0px 0px 5px var(--black);
}
section.banner article p{
    font-size: 25px;
    text-shadow: 0px 0px 3px var(--black);
}
.banner-text-container{
    margin-right: 5%;
}
form{
    transform: translateY(-80%);
    margin-left: 5%;
    background-color: var(--yellow);
    width: 27%;
    padding: 25px 50px;
    border-radius: 5px;
}
label{
    align-self: flex-start;
}
select{
    color: var(--grey);
}
input, select{
    padding: 5px 10px;
    margin: 20px 0;
    width: 100%;
    font-size: 20px;
    border: 1px solid var(--grey);
    border-radius: 10px!important;
}
input::placeholder{
    color: var(--grey);
}
option{
    color: var(--grey);
}
select:focus option:hover{
    background-color: grey!important;
    color: white!important;

}
input[type="submit"]{
    font-size: 15px;
    width: 25%;
    align-self: flex-end;
}

main{
    margin: 0px 5%;
    margin-top: 7.5%;
}

.categorie{
    background-color: var(--yellow);
    width: 250px;
    height: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.categorie-container{
    height: 600px;
    color: var(--white);
    margin: 0% 5%;
}
.categorie .svg{
    width: 50%;
    height: 50%;
    margin-bottom: 10%;
}

.categorie p{
    font-size: 25px;
}



/*****CARD ANIMATION******/
.flip-card{
    background-color: transparent;
}
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    text-align: center;
  }
  .flip-card-front{
    background: #FC9F0D;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    -webkit-box-shadow: 0px 0px 10px -3px #000000; 
    box-shadow: 0px 0px 10px -3px #000000;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
    background: #E66000;
    width: 100%;
    height: 100%;
  }
  .flip-card-back p {
    font-size: 18px;
    width: 75%;
  }
  .flip-card button{
    font-size: 15px!important;
    width: 25%;
    padding: 5px 10px;
    margin: 20px 0;
    width: 100%;
    font-size: 20px;
    border: 1px solid var(--grey);
    border-radius: 5px;
  }


  .a-propos-container{
    margin-top: 5%;
  }
  .a-propos-container img{
    width: 30%;
    margin: 0px 5%;
  }
  .a-propos-container p{
    width: 35%;
    margin: 0px 5%;
    line-height: 1.9;
}
.orange-svg{
    filter: invert(37%) sepia(61%) saturate(4018%) hue-rotate(16deg) brightness(104%) contrast(103%);
}

@media screen and (min-width: 2561px) {
    .categorie{
        width: 275px;
        height: 275px;
    }
    .categorie-container{
        margin: 0px 15%;
    }
}

@media screen and (max-width: 2560px) {
    .categorie{
        width: 17%;
        height: 44%;
    }
    .categorie-container{
        margin: 0px 15%;
    }
}
@media screen and (max-width: 2000px) {
    .categorie-container{
        height: 500px;
        margin: 0 3%;
    }
    input[type="submit"]{
        width: 30%;
    }
}

@media screen and (max-width: 1440px) {
    .categorie-container{
        height: 400px;
        margin: 0 3%;
    }
    .flip-card p {
        font-size: 17px;
    }
    .flip-card button {
        font-size: 10px!important;
        margin: 3px 3px;
    }
    .banner-text-container{
        margin-bottom: 10%;
    }
    main{
        margin-top: 10%;
    }
    form{
        width: 35%;
    }
}
@media screen and (max-width: 1250px) {
    .categorie-container{
        height: 350px;
        margin:  0 2%;
    }
    main{
        margin-top: 11%;
    }
    .flip-card p {
        font-size: 15px;
    }
    form{
        width: 40%;
    }
    input[type="submit"]{
        width: 30%;
    }
}

@media screen and (max-width: 1090px) {
    .categorie-container{
        height: 300px;
        margin: 0 1%;
    }
    .flip-card p {
        font-size: 14px;
        margin-bottom: 0;
    }
    .flip-card-back p {
        font-size: 13px;
        margin-bottom: 0;
    }
    .flip-card button {
        font-size: 10px!important;
        margin: 2px 3px;
    }
    form{
        width: 45%;
    }
    input[type="submit"]{
        width: 30%!important;
    }
    main{
        margin-top: 12%;
    }
}
@media screen and (max-width: 1024px) {
    .flip-card-back p {
        font-size: 13px!important;
        margin-bottom: 0;
    }

    form{
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .categorie-container{
        height: 250px;
        margin: 0;
    }
    .flip-card p {
        font-size: 13px!important;
    }
    .flip-card-back p {
        font-size: 10px!important;
        margin-bottom: 0;
    }
    .flip-card button{
        padding: 2px;
        margin: 0 1px;
    }
    .categorie{
        width: 15%;
        height: 44%;
    }
    main{
        margin-top: 17%!important;
    }
    form{
        width: 65%;
    }
    
}

@media screen and (max-width: 620px) {
    .categorie-container{
        height: 200px;
        margin: 0;
    }
    .categorie{
        width: 15%;
        height: 44%;
    }
    main{
        margin-top: 17%!important;
    }
    form{
        width: 70%;
    }
    .flip-card button, .flip-card-back p{
        font-size: 8px!important;

    }
}

@media screen and (max-width: 500px) {
    .banner {
        background-image: url('../img/mobile-banner.png')!important;
    }
    .banner-text-container{
        text-align: center;
    }
    .banner-text-container h1{
        font-size: 35px!important;
    }
    .banner-text-container p{
        font-size: 20px!important;
    }
    form{
        margin: 50% 0 0 0;
        width: 100%;
        border-radius: 0;
    }
    form input[type="submit"]{
        width: 43%!important;
    }
    main{
        margin-top: 85%!important;
    }
    .categorie-container{
        height: 800px;
        margin: 0;
    }
    .categorie{
        width: 40%;
        height: 15%;
    }
    .flip-card-back p, .flip-card-back button{
        font-size: 12px!important;
        margin: 5px 0;
    }
    .a-propos-container{
        flex-direction: column;
        text-align: center;
    }
    .a-propos-container img{
        margin: 25px 0;
        width: 80%;
    }
    .a-propos-container p{
        width: 80%;
        margin: 25px 0;
    }
}